{% extends 'content_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/bundles/snazzy-info-window/snazzy-info-window.css') }}">
    <link rel="stylesheet" href="{{ asset('css/pages/people.css') }}">

{% endblock %}

{% block body %}

    <!-- >>>>>>>>>>>>>>>> Breadcumb Area Start <<<<<<<<<<<<<<<< -->
    {#<section class="breadcumb_area background-overlay" style="background-image: url(img/people.jpg);">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-12">#}
                    {#<div class="breadcumb_section text-center">#}
                        {#<!-- Breadcumb Page Title -->#}
                        {#<div class="page_title">#}
                            {#<h4>Who We Are</h4>#}
                        {#</div>#}
                        {#<!-- Breadcumb Page Pagination -->#}
                        {#<ol class="breadcrumb d-inline-block">#}
                            {#<li class="breadcrumb-item"><a href="#">Home</a></li>#}
                            {#<li class="breadcrumb-item active">Who We Are</li>#}
                        {#</ol>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    <!-- >>>>>>>>>>>>>>>> Breadcumb Area End <<<<<<<<<<<<<<<< -->

    <div id="our_story_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="our_story_content text-center">
                        <h1>Our story</h1>
                        <hr>

                        <p>Strategic Retirement Partners is an independent retirement plan consulting firm that advises on plans representing the retirement aspirations of tens of thousands of employees.   We support plan sponsors in understanding and fulfilling their fiduciary responsibilities to their plan, their employees, and their beneficiaries. We currently consult on over 500 corporate and non-profit plans nationwide.
                        </p>

                        <p>A bit of history: The acquisition of 401(k) Advisors, Inc. by NFP served as a catalyst for the formation of Strategic Retirement Partners (SRP). Shortly following the event, a supermajority of 401(k) Advisor affiliates pooled human resources and intellectual capital to form Strategic Retirement Partners, LLC, a firm that is truly unique by design. SRP was founded by a veteran group of Advisors with the shared belief that after working for decades during a lifetime, one should be able to retire with dignity and grace. Our sole focus is helping our Plan Sponsors make that happen for those employees within their care.</p>

                        <p>Today, SRP has offices throughout the United States that are strategically located to deliver best-in-class service and expertise to help our clients provide an exceptional retirement plan to their employees. The SRP team consists of 50+ associates with significant retirement plan expertise and an average industry tenure of 15+ years. We currently serve over 500 corporate and non-profit plans, $6 billion in retirement plan assets, and represent the retirement aspirations of tens of thousands of plan participants.</p>

                        <p>We approach client service with a collaborative style delivered by a dedicated plan consultant team in one of our regional offices.  This team is further supported by specialists who are specifically focused in the areas of ERISA Compliance, Investment Research, Provider Analysis, Fee Benchmarking, Employee Education, and Executive Benefits. We wake up every day with a renewed and unparalleled commitment to excellence that is supported by the latest technology, deep research capabilities, operational efficiencies, and a craftsman-like focus on detail. We adhere to operating principles and values that emphasize independence, work ethic, and a laser-like focus on the needs of our clients.</p>

                        <p>As an ERISA fiduciary to your retirement plan, we strive to be objective and rigorous. And if we don’t look or sound like a “Wall Street” firm, it is entirely by design.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="our_team_wrapper" >
        <div id="our_team_container" class="container">
            <div class="row">
                <div class="col-12">

                    <!-- >>>>>>>>>>>>>>>> Team Member area start <<<<<<<<<<<<<<<< -->
                    <section class="gallery_area clearfix text-center" id="work">

                        <h1>Our Team</h1>
                        <hr>

                        <div class="container clearfix">
                            <div class="gallery_menu">
                                <div class="text-center portfolio-menu">
                                    <button class="active btn btn-md" type="button" data-filter="*">All</button>
                                    <button class="btn btn-md" type="button" data-filter=".leadership">Leadership</button>
                                    <button class="btn btn-md" type="button" data-filter=".managing_director">Managing Directors</button>
                                    <button class="btn btn-md" type="button" data-filter=".consultant">Consultants</button>
                                    <button class="btn btn-md" type="button" data-filter=".operations">Operations</button>
                                </div>
                            </div>

                            <div class="row portfolio-column">






                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp leadership">
                                    <img src="{{ asset('img/employee-images/Cullen_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Jeff Cullen</h5>
                                                    <p>Leadership</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp leadership">
                                    <img src="{{ asset('img/employee-images/Faggiolly_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Steve Faggioli</h5>
                                                    <p>Leadership</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp leadership">
                                    <img src="{{ asset('img/employee-images/White_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Todd White</h5>
                                                    <p>Leadership</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>







                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp managing_director">
                                    <img src="{{ asset('img/employee-images/de_Tagyos_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Dave de Tagyos</h5>
                                                    <p>Managing Director</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp managing_director">
                                    <img src="{{ asset('img/employee-images/Deevy_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Kristen Deevey</h5>
                                                    <p>Managing Director</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp managing_director">
                                    <img src="{{ asset('img/employee-images/Forbes_Mark_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Mark Forbes</h5>
                                                    <p>Managing Director</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp managing_director">
                                    <img src="{{ asset('img/employee-images/Gavran_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Greg Gavran</h5>
                                                    <p>Managing Director</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp managing_director">
                                    <img src="{{ asset('img/employee-images/Gaynier_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Greg Gaynier</h5>
                                                    <p>Managing Director</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>


                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp managing_director">
                                    <img src="{{ asset('img/employee-images/Hughes_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Sarah Hughes</h5>
                                                    <p>Managing Director</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>


                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp managing_director">
                                    <img src="{{ asset('img/employee-images/Majdan_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Kelly Majdan</h5>
                                                    <p>Managing Director</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp managing_director">
                                    <img src="{{ asset('img/employee-images/Morris_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Mike Morris</h5>
                                                    <p>Managing Director</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp managing_director">
                                    <img src="{{ asset('img/employee-images/Nybo_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Stig Nybo</h5>
                                                    <p>Managing Director</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp managing_director">
                                    <img src="{{ asset('img/employee-images/Petronio_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Lisa Petronio</h5>
                                                    <p>Managing Director</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp managing_director">
                                    <img src="{{ asset('img/employee-images/Wagner_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Bob Wagner</h5>
                                                    <p>Managing Director</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>



                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp consultant">
                                    <img src="{{ asset('img/employee-images/Kollada_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Ed Kollada</h5>
                                                    <p>Consultant</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>




                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp operations">
                                    <img src="{{ asset('img/employee-images/Blackmer_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Megan Blackmer</h5>
                                                    <p>Operations</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp operations">
                                    <img src="{{ asset('img/employee-images/Castillo_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Cheryl Castillo</h5>
                                                    <p>Operations</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp operations">
                                    <img src="{{ asset('img/employee-images/Del_Fierro_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Megan Del Fiero</h5>
                                                    <p>Operations</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp operations">
                                    <img src="{{ asset('img/employee-images/Forbes_Karen_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Karen Forbes</h5>
                                                    <p>Operations</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp operations">
                                    <img src="{{ asset('img/employee-images/Hagerman_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Karen Hagerman</h5>
                                                    <p>Operations</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp operations">
                                    <img src="{{ asset('img/employee-images/Janowski_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Chris Janowski</h5>
                                                    <p>Operations</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp operations">
                                    <img src="{{ asset('img/employee-images/Krapac_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Sarah Krapac</h5>
                                                    <p>Operations</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp operations">
                                    <img src="{{ asset('img/employee-images/Nagle_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Gretchen Nagle</h5>
                                                    <p>Operations</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp operations">
                                    <img src="{{ asset('img/employee-images/Strasser_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Sara Strasser</h5>
                                                    <p>Operations</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single gallery Item Start -->
                                <div class="col-12 col-md-4 col-lg-3 column_single_gallery_item mb-30 wow fadeInUp operations">
                                    <img src="{{ asset('img/employee-images/Woodland_1.jpg')}}" alt="">
                                    <!-- Single gallery Item hover caption -->
                                    <div class="hover_overlay">
                                        <div class="table">
                                            <div class="table_cell">
                                                <div class="gallery_info">
                                                    <h5>Laura Woodland</h5>
                                                    <p>Operations</p>
                                                    <div class="more_details">
                                                        <a class="btn btn-sm" href="#">More Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image_zoom_in">
                                            <a class="gallery_img" href=""><i class="pe-7s-expand1" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>







                            </div>

                            {#<div class="row">#}
                                {#<div class="col-12 text-center">#}
                                    {#<a href="#" class="btn default-button-green mb-30">Load More</a>#}
                                {#</div>#}
                            {#</div>#}

                        </div>
                    </section>
                    <!-- >>>>>>>>>>>>>>>> Team Member area end <<<<<<<<<<<<<<<< -->




                </div>
            </div>
        </div>
    </div>


    <div id="awards_wrapper">
        <div class="container text-center">
            <h3>Awards and Recognition</h3>
            <hr>
            <div class="awards_container">

                <div class="award_item" style="background-image:url(img/awards_logos/401.png);">
                    <div class="award_item_overlay">
                        <p>
                            award description
                        </p>
                    </div>
                </div>

                <div class="award_item" style="background-image:url(img/awards_logos/ch.png);">
                    <div class="award_item_overlay">
                        <p>
                            award description
                        </p>
                    </div>
                </div>

                <div class="award_item" style="background-image:url(img/awards_logos/ft.png);">
                    <div class="award_item_overlay">
                        <p>
                            award description
                        </p>
                    </div>
                </div>

                <div class="award_item" style="background-image:url(img/awards_logos/ii.png);">
                    <div class="award_item_overlay">
                        <p>
                            award description
                        </p>
                    </div>
                </div>

                <div class="award_item" style="background-image:url(img/awards_logos/napa.jpg);">
                    <div class="award_item_overlay">
                        <p>
                            award description
                        </p>
                    </div>
                </div>

                <div class="award_item" style="background-image:url(img/awards_logos/pa.jpg);">
                    <div class="award_item_overlay">
                        <p>
                            award description
                        </p>
                    </div>
                </div>

                <div class="award_item" style="background-image:url(img/awards_logos/ps.png);">
                    <div class="award_item_overlay">
                        <p>
                            award description
                        </p>
                    </div>
                </div>



            </div>

            <div class="awards_text_container">
                <p>
                    SRP named as a "Top Mega Team" in PLANADVISER's 2017 Top 100 listing
                </p>

                <p>
                    James Worrell recognized by PlanSponsor Magazine as the 2011 Retirement Plan Adviser of the Year
                </p>

                <p>
                    Stig Nybo named 5th most influential person in 401kWire’s 100 most Influential people in Defined Contribution
                </p>

                <p>
                    Todd Lohman & Craig Dewey named to 401kWire.com list of Top 40 Advisors
                </p>

                <p>
                    James Worrell named to 401kWire.com list of Top 100 Advisors
                </p>

                <p>
                    Jeff Cullen named as semi-finalist for 2016 NAPA 401(k) Leadership Award
                </p>

                <p>
                    Shannon Maloney and Kristen Deevy were each awarded NAPA All Star Award for Top Women Advisors (Top 50) 2015 & 2016. Kristen Deevy, Kelly Majdan, and Lisa Petronio in 2017
                </p>

                <p>
                    Craig Dewey, Jeff Cullen, and Kristen Deevy were invited to Capitol Hill to advise top Congressional leaders on the future of the retirement savings industry and how proposed laws and regulations might impact the American worker.
                </p>

                <p>
                    Jeff Cullen, Todd Lohman, Shannon Maloney, and Kelly Majdan named by The Financial Times as one of the Top 401 Retirement Advisors of 2016.
                </p>

                <p>
                    Kristen Deevy and Kelly Majdan named by The Financial Times as one of the Top 401 Retirement Advisors of 2015
                </p>

                <p>
                    James Worrell named in Institutional Investor News as a "Rising Star of Retirement Plan Advisors" in 2007.
                </p>

            </div>
        </div>
    </div>


    <div class="map_contact_address_area home-5">
        <div class="row">
            <div class="col-12 text-center map_header">
                <h3>Our Offices</h3>
                <hr>
                <p>Click on one of our locations to learn more.</p>
            </div>
        </div>
        {#<div id="contact-info" class="row">#}
            {#<div class="col-6">#}
                {#<div class="single_contact_content text-center">#}
                    {#<i id="contact-icon" class="fa fa-phone"></i>#}
                    {#<h5>Phone: (847) 179-2233</h5>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-6">#}
                {#<div class="single_contact_content text-center">#}
                    {#<i id="contact-icon" class="fa fa-envelope"></i>#}
                    {#<h5>Email: <a id="email-link" href="mailto:plantoday@srpretire.com">Plantoday@srpretire.com</a></h5>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <div class="row map_container">
            <div class="col-3">
                <div id="location_card" class="card">
                    <div class="card-header">
                        Locations
                    </div>
                    <div id="location_list" class="list-group list-group-flush">
                        <a id="arkansas" href="#" class="list-group-item list-group-item-action">Arkansas & Missouri</a>
                        <a id="central_florida" href="#" class="list-group-item list-group-item-action">Central Florida</a>
                        <a id="central_texas" href="#" class="list-group-item list-group-item-action">Central Texas</a>
                        <a id="great_lakes" href="#" class="list-group-item list-group-item-action">Great Lakes</a>
                        <a id="michigan" href="#" class="list-group-item list-group-item-action">Michigan</a>
                        <a id="mid_atlantic" href="#" class="list-group-item list-group-item-action">Mid Atlantic</a>
                        <a id="mid_central" href="#" class="list-group-item list-group-item-action">Mid Central</a>
                        <a id="midwest" href="#" class="list-group-item list-group-item-action">Midwest</a>
                        <a id="northeast" href="#" class="list-group-item list-group-item-action">Northeast</a>
                        <a id="northern_california" href="#" class="list-group-item list-group-item-action">Northern California</a>
                        <a id="oklahoma" href="#" class="list-group-item list-group-item-action">Oklahoma</a>
                        <a id="rocky_mountains" href="#" class="list-group-item list-group-item-action">Rocky Mountains</a>
                        <a id="wisconsin" href="#" class="list-group-item list-group-item-action">Wisconsin</a>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="map_area" id="googleMap"></div>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCzEVePg6BKjFfaZzNVcxl465gprUhq2Wo&callback=initMap"></script>
    <script type="text/javascript" src="{{ asset('assets/bundles/snazzy-info-window/snazzy-info-window.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/map-active.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pages/people.js') }}"></script>

{% endblock %}